<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href='/css/styles.css'>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5b8d0b6d80.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
        <figure class="logo">
        <img src="/images/logo-mercado-liebre.svg" alt="Logo">
        </figure>  
        
        <section class="formulario">Búsqueda <i class="fas fa-search icono"> </i> 
        </section>
        
        <section class="subtitulo">
        <i class="fas fa-hand-holding-usd icono"></i>
        <span>Comprá en cuotas y sin tarjeta de crédito</span>   
        </section>
        
        <nav class="menu-acciones">
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Creá tu cuenta </a><i class="far fa-id-card icono"></i></li>
                <li><a href="">Ingresá </a><i class="fas fa-sign-in-alt icono"></i></li>
                <li><a href="">Mis compras </a><i class="fas fa-shopping-basket icono"></i></li>
            </ul>

    </nav> 
    
    <div class="burger-menu">
        <a href="">   <i class="fa fa-bars burger"></i>    </a>   
    </div>

    <section class="banner">
        <img src="/images/img-home-banner.jpg" alt="banner">
    </section>

  </header>  
  
  <main>
    <section class="destacados">
    
    <h2 class="titulares">Basado en tu última visita</h2>

        <article class="producto">
            <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
            <section class="info-producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$6.770</p>
                <p class="descuento">40% off</p>
                <p class="descripcion">Cafetera Moulinex</p>
            </section>
        </article>

        <article class="producto">
            <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
            <section class="info-producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                <p class="descripcion">MacBook Pro 2019</p>
            </section>
        </article>

        <article class="producto">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
            <section class="info-producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <p class="descripcion">Samsung Galaxy S10</p>
            </section>
        </article>

        <article class="producto">
            <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
            <section class="info-producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                <p class="descripcion">SmartTv Samsung 43"</p>
            </section>
        </article>

    </section>
    
    <section class="ofertas">
        <h2 class="titulares">Ofertas</h2>

        <article class="producto">
            <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
            <section class="info-producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$6.770</p>
                <p class="descuento">40% off</p>
                <p class="descripcion"><strong>Cafetera Moulinex</strong></p>
            </section>
        </article>

        <article class="producto">
            <img src="/images/img-macbook-pro-2019.jpg" alt="img-macbook-pro-2019">
            <section class="info-producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                <p class="descripcion"><strong> MacBook Pro 2019</strong></p>
            </section>
        </article>

        <article class="producto">
            <img src="/images/img-samsung-galaxy-s10.jpg" alt="img-samsung-galaxy-s10">
            <section class="info-producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <p class="descripcion">Samsung Galaxy S10</p>
            </section>
        </article>

        <article class="producto">
            <img src="/images/img-tv-samsung-smart.jpg" alt="img-tv-samsung-smart">
            <section class="info-producto">
                <i class="fas fa-truck"></i>
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                <p class="descripcion">SmartTv Samsung 43"</p>
            </section>
        </article>
    </section>

  </main>
  
  <footer>
    <section class="facilidades">
        <i class="fas fa-credit-card icono"></i>
        <h3><strong>Pagá con tarjeta o en efectivo</strong></h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </section>

    <section class="facilidades">
        <i class="fas fa-gift icono"></i>
        <h3><strong>Envío gratis desde $ 2.500</strong></h3>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
    </section>

    <section class="facilidades">
        <i class="fas fa-user-shield icono"></i>
        <h3><strong>Seguridad, de principio a fin</strong></h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
    </section>
        
    <p id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
  </footer>
</body>
</html>